.addEditProductImgBox {
    position: relative;
    margin: 20px;
    height: 220px;
    width: 440px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #ffd800;
}

.imgSize {
    width: 160px;
    height: 130px;
}
.imgPosition {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.addEditProductImg {  
   
}

.btnBox {
    margin-top: 10px;
    width: auto;
    display: flex;
    justify-content: space-around;
}
