body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #272525;
    background: url("../Images/45.png") center repeat;
    background-attachment: fixed;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/*Intro*/
.intro {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

/*Header*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #808080;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}

.header_logo {
    font-size: 30px;
    font-weight: 500;
    color: #272525;
}

/*Nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
}


.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: #272525;
    text-decoration: none;
    position: relative;
    transition: color .1s linear;
}

    .nav_link::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        opacity: 0;
        background-color: #0094ff;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: opacity .1s linear;
    }

    .nav_link:hover::after {
        opacity: 1;
    }

    .nav_link:hover {
        color: #0094ff;
    }

.content {
    list-style: none;
    margin: 60px 15px;
    padding: 0;
}


/*Цвета сообщений на странице редактирования и добавления товара*/
.successMessage {
    color: green;
    font-size: 18px;
}

.errorMessage {
    color: red;
    font-size: 18px;
}
/*Стиль кнопки "Добавтиь" на страницы товаров*/
.btnAdd {
    display: inline-block;  
    background: #ffffff;
    color: #000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 3px;
}


.btnAdd:active{
    transform: scale(0.95);
    background:#f1ee76
}
