<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ProductShop</title>   
</head>
 
<body>
    <nav>   
        <h1> ProductShop</h1>
    </nav>
    @RenderBody()
     <footer><p> Все права защищены. Syte Corp. 2020.</p></footer>
</body>

</html>