@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#" />
    <meta charset="utf-8" />
    <title>ProductShop</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

</head>

<body>
    <nav>
        <h1> ProductShop</h1>
    </nav>
    @RenderBody()
    @RenderSection("scripts", false)
</body>

</html>