
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/ProductStyle/InfoPage.css")" rel="stylesheet" type="text/css" />

<h1 align="center">О приложении</h1>
<div class="infoContent">
    <p class="infoText">
        Целью создания данного приложения является изучения основных аспектов разработки и получение практических навыков
        создания web-приложения с использованием технологии ASP.NET MVC 5.
    </p>

</div>

