
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/ProductStyle/ShopMenu.css")" rel="stylesheet" type="text/css" />
<div class="shopMenuBox">
    <div class="shopMenuToolsBox">
        <div class="sortBox">
            <h4>Категория</h4>
            <ul class="checkList">
            </ul>
            <button class="submitCategories">Показать</button>
            <p class="errorMessage"></p>
        </div>
    </div>
    <div class="shopMenuContent">
        <ul class="shopMenuItems">
        </ul>
    </div>
    
</div>


<template id="shopMenuItemTemplate">
    <li class="shopMenuItemWrapper">
        <div class="menuItemBox">
            <div class="menuItemImgBox imgFlex">
                <img class="menuItemImg" />
            </div>
            <div class="menuItemInfo">
                <h3 id="menuItemName"></h3>
                <ul class="menuItemDescription">
                    <li>Категория:&emsp; <span id="category"></span></li>
                    <li>Средняя масса:&emsp;<span id="averageWeight"></span><span> кг/шт.</span></li>
                    <li>Страна:&emsp;<span id="country"></span></li>
                </ul>
                <span class="menuItemPrice">
                    <span id="rub" class="rub"></span>
                    <span class="rub">,</span>
                    <span id="cop" class="cop"></span>
                    <span class="rub_kg">₽/шт</span>
                </span>
                <div class="menuItemBtnBox">
                    <div class="menuItemCountBox">
                        <span class="menuItemCount">0<span>шт</span></span>
                        <div class="countBtnBox">
                            <span class="plusCountBtn"></span>
                            <span class="minusCountBtn"></span>
                        </div>
                    </div>
                    <div class="addInCartBtnBox">
                        <span class="addInCartBtn"></span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</template>
<script src="~/Scripts/ShopMenu/ShopMenuList.js"></script>