@model ProductShopMVC.Services.Models.Product
@using Newtonsoft.Json
@{
    ViewBag.Title = Model == null ? "Добавление продукта" : "Редактирование продукта";
}

@section scripts{
    <script>
        var product = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
}

<h2>@ViewBag.Title</h2>
<div>
    <p><input id="inputId" hidden /></p>
    <p><input id="inputName" onkeyup="checkParams()" placeholder="Название" /> Название </p>
    <p><select size="1" id="ProductCategory" name="ProductCategory"></select></p>
    <p><input id="inputPrice" type="number" min="0" step="0.01" placeholder="0.00" onkeyup="checkParams()" oninput="limitDecimal(this)"/> Цена</p>
</div>
<div>
    <input type="button" id="submitButton" value="Изменить" />
    <p id="checkMessage"></p>
    <p id="statusMessage"></p>
</div>
<script src="~/Scripts/ProductScripts/AddEditProduct.js"></script>
