@model ProductShop_empty_.Models.Products.ProductForEdit
@using Newtonsoft.Json
@{
    ViewBag.Title = Model.Data == null ? "Добавление продукта" : "Редактирование продукта";
}
<link href="@Url.Content("~/Content/ProductStyle/AddEditProductPage.css")" rel="stylesheet" type="text/css" />

@section scripts{
    <script>
        var product = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
}

<h2>@ViewBag.Title</h2>
<div>
    <table class="addEditProductTable">
        <tr hidden>
            <td>Id:</td>
            <td><input id="inputId" hidden /></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="addEditProductImgBox">
                    <img class="addEditProductImg"/>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="file" name="upload" id="uploadFile" /></td>
            <td> <button id="uploadSubmit">Загрузить</button></td>
        </tr>
        <tr>
            <td>
                Название
            </td>
            <td>
                <input id="inputName" onkeyup="checkParams()" placeholder="Название" />
            </td>
        </tr>
        <tr>
            <td>
                Категория
            </td>
            <td>
                <select size="1" id="ProductCategory" name="ProductCategory"> </select>
            </td>
        </tr>
        <tr>
            <td>
                Цена
            </td>
            <td>
                <input id="inputPrice" type="number" min="0" step="0.01" placeholder="0.00" onkeyup="checkParams()" oninput="limitDecimal(this)" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="btnBox">
                    <a id="submitButton" class="btnFunc"></a>
                    <a class="btnFunc" href="~/Product/ProductList">К списку</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<div>

    <p id="errorMessage"></p>
    <p id="statusMessage"></p>
</div>
<script src="~/Scripts/ProductScripts/AddEditProduct.js"></script>

