@model ProductShopMVC.Services.Models.Product
@using Newtonsoft.Json
@{
    ViewBag.Title = "Добавление продуктов";
}

@section scripts{
    <script>
        var product = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
}

<h2>@ViewBag.Title</h2>
<div>
    <p><input id="editId" /> Id</p>
    <p><input id="editName" /> Название</p>
    <p><input id="editPrice" /> Цена</p>
</div>
<div>
    <input type="button" id="editBtOk" value="Ok" />
</div>
<script src="~/Scripts/ProductScripts/EditProduct.js"></script>