
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON("product/GetAllProducts",
            function (json) {
                var tr;
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + json[i].ProductId + "</td>");
                    tr.append("<td>" + json[i].ProductName + "</td>");
                    tr.append("<td>" + json[i].ProductPrice + "</td>");
                    $('table').append(tr);
                }
            });
    });
</script>

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>            
        </tr>
    </thead>
    <tbody></tbody>
</table>