@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Список продуктов</h1>
    <div>
        <input type="button" id="reloadProductsList" value="Все продукты" />
        <label>Имя продукта: <input type="text" id="requiredProductName" /></label>
        <input type="button" id="getProductByName" value="Поиск" />

    </div>
    <table border="1" id="productsTable" class="countLines">
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Цена</th>
        </tr>
    </table>
    <div>
        
        <a href="AddProductView" class="btnAdd">Добавить продукт</a>
    </div>

</div>
<script src="~/Scripts/ProductScripts/ProductList.js"></script>




