@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Список продуктов</h1>
    <div>
        <input type="button" id="reloadProductsList" value="Все продукты" />
        <label>Имя продукта: <input type="text" id="requiredProductName" /></label>
        <input type="button" id="getProductByName" value="Поиск" />

    </div>
    <table border="1" id="productsTable">
        <tr>
            <th>Id товара</th>
            <th>Название</th>
            <th>Цена</th>
        </tr>
    </table>
    <div>
        <style>
            .btn {
                display: inline-block; /* Строчно-блочный элемент */
                background: #8C959D; /* Серый цвет фона */
                color: #fff; /* Белый цвет текста */
                padding: 1rem 1.5rem; /* Поля вокруг текста */
                text-decoration: none; /* Убираем подчёркивание */
                border-radius: 3px; /* Скругляем уголки */
            }
        </style>
        <a href="AddProductView" class="btn">Добавить продукт</a>
    </div>

</div>
<script src="~/Scripts/ProductScripts/ProductList.js"></script>




