@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body>
    <div>
        <h1>Список товаров</h1>
        <table border="1">
            <tr>
                <th>Id товара</th>
                <th>Название</th>
                <th>Цена</th>
            </tr>
            <tr>
                <td>Нет данных</td>
                <td>Нет данных</td>
                <td>Нет данных</td>
            </tr>
        </table>
        <div>
            @Html.Partial("GetAllProducts")
        </div>
    </div>  

</body>

</html>
