@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Список товаров</h1>
    <table border="1" id="productsTable">
        <tr>
            <th>Id товара</th>
            <th>Название</th>
            <th>Цена</th>
        </tr>
    </table>

</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON("GetAllProducts",
            function (json) {
                var tr;
                for (var i = 0; i < json.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + json[i].ProductId + "</td>");
                    tr.append("<td>" + json[i].ProductName + "</td>");
                    tr.append("<td>" + json[i].ProductPrice + "</td>");
                    $('#productsTable').append(tr);
                }
            });
    });
</script>



