@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Список товаров</h1>
    <div>
        <label>Имя товара: <input type="text" id="requiredProductName" /></label>
        <input type="button" id="getProductByName" value="Поиск" />
        <input type="button" id="reloadProductsList" value="Все товары" />
    </div>
    <table border="1" id="productsTable">
        <tr>
            <th>Id товара</th>
            <th>Название</th>
            <th>Цена</th>
        </tr>
    </table>
</div>
<script src="~/Scripts/ProductScripts/ProductList.js"></script>




